@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

body {
    font-family:'Roboto', sans-serif;
    margin: 0px;
}
.navbar {
    background-color: #28A745;
}
img {
    height:40vh;
}
.card {
    margin: 1em ;
    padding: 1em;
}


